# Copyright 2020-2021 Lowdefy, Inc

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

id: "{{ pageId }}"
type: PageHeaderMenu
requests:
  - id: post_telemetry
    type: AxiosHttp
    connectionId: lowdefy_api_telemetry
    properties:
      data:
        session_id:
          _global: session_id
        page_id:
          _var: pageId
        url_query:
          _url_query: true
        input:
          _input: true

events:
  onInit:
    - id: set_session_id
      type: SetGlobal
      skip:
        _not:
          _eq:
            - _global: session_id
            - null
      params:
        session_id:
          _random:
            type: string
            length: 16
  onEnterAsync:
    {# - id: connect_docsearch
      type: JsAction # TODO:
      params:
        name: connectDocsearch #}
    - id: post_telemetry
      type: Request
      messages:
        error: false
      params: post_telemetry

properties:
  title: {{ pageTitle }}
  header:
    theme: light
  menu:
    forceSubMenuRender: true
    links: []
  sider:
    width: 256px
    initialCollapsed:
      _or:
        - _eq:
            - _media: size
            - md
        - _eq:
            - _media: size
            - lg
  content:
    style:
      background: '#FFFFFF'
  footer:
    style:
      background: '#FFFFFF'
      padding: 16px 0px 0px 0px
areas:
  header:
    blocks:
      _ref: templates/header.yaml
  footer:
    blocks:
      _ref:
        path: templates/footer.yaml.njk
        vars:
          hideFeedback:
            _var: hideFeedback
          filePath:
            _var: filePath
          pageId:
            _var: pageId
          padding: 40

  content:
    justify: center
    blocks:
      - id: affix_breadcrumb
        type: Affix
        style:
          background: '#FFFFFF'
        blocks:
          - id: breadcrumb
            type: Breadcrumb
            style:
              background: '#FFFFFF'
              margin: 0px -32px 0px -32px
              padding: 8px 32px 8px 32px
            properties:
              list:
                - label:
                    _ref: version.yaml
                  pageId: introduction
                - label: Lowdefy Docs
                  pageId: introduction
            {% if section %}
                - {{ section }}
                - {{ pageTitle }}
            {% endif %}
      {% if pageImage %}
      - id: page_image
        type: Img
        style:
          marginLeft: -50
        properties:
          src:
            _var: pageImage
          alt:
            _var: pageTitle
          width: 105%
      {% endif %}
      - id: max_width
        type: Box
        layout:
          flex: 0 1 800px
          contentGutter: 16
        style:
          marginTop: 32
        blocks:
          {% if pageTitle %}
          - id: page_title
            type: Title
            properties:
              content:
                _var: pageTitle
          {% endif %}
          - id: content
            type: Box
            layout:
              contentGutter: 16
            blocks:
              _var: content
          {% if discussionsLink %}
          - id: md5
            type: MarkdownWithCode
            properties:
              content: |
                -----
                ###### Comments and questions regarding this how-to are availible on [this GitHub Discussions Thread]({{ discussionsLink }})

          {% endif %}
          - id: footer_links
            type: MarkdownWithCode
            properties:
              content: |
                -----
          - id: links_box
            type: Box
            layout:
              span: 12
              contentGutter: 16
            blocks:
              - id: md_author
                type: MarkdownWithCode
                properties:
                  content: |
                    ###### Other interesting how-to guides:
              {% for item in articleLinks %}
              - id: links-{{ item.pageId }}
                type: Anchor
                properties:
                  icon: AiOutlineLink
                  pageId: {{ item.pageId }}
                  title: {{ item.title }}
              {% endfor %}

          {% if authorName %}
          - id: author_box
            type: Box
            layout:
              span: 12
              contentGutter: 16
            blocks:
              - id: md_author
                type: MarkdownWithCode
                properties:
                  content: |
                    ###### This how-to article was written by:
              {% if authorProfile %}
              - id: author
                type: Avatar
                layout:
                  flex: 0 1 auto
                properties:
                  src:
                    _var: authorProfile
                  size: large
              {% endif %}
              - id: author_name
                type: Html
                style:
                  marginTop: -3
                layout:
                  flex: 1 0 auto
                properties:
                  html:
                    _var: authorName
          {% endif %}
