 # Copyright 2020-2021 Lowdefy, Inc

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% if not hideFeedback %}
- id: feedback_divider
  type: Divider
- id: feedback_title
  type: Title
  visible:
    _not:
      _state: feedback_sent
  style:
    textAlign: center
  properties:
    content: Was this helpful?
    level: 3
- id: feedback_rating_box
  type: Box
  style:
    margin: auto
  layout:
    size: 300
  areas:
    content:
      justify: space-around
      align: middle
      gutter: 16
      blocks:
        - id: cry_anchor
          type: Anchor
          visible:
            _not:
              _state: feedback_sent
          layout:
            size: auto
          style:
            fontSize:
              _if:
                test:
                  _eq:
                    - _state: feedback.score
                    - cry
                then: 48
                else: 32
          properties:
            title: 😭
          events:
            onClick:
              - id: resize
                type: SetState
                params:
                  feedback.score: cry
        - id: sad_anchor
          type: Anchor
          visible:
            _not:
              _state: feedback_sent
          layout:
            size: auto
          style:
            fontSize:
              _if:
                test:
                  _eq:
                    - _state: feedback.score
                    - sad
                then: 48
                else: 32
          properties:
            title: 😟
          events:
            onClick:
              - id: resize
                type: SetState
                params:
                  feedback.score: sad
        - id: smile_anchor
          type: Anchor
          visible:
            _not:
              _state: feedback_sent
          layout:
            size: auto
          style:
            fontSize:
              _if:
                test:
                  _eq:
                    - _state: feedback.score
                    - smile
                then: 48
                else: 32
          properties:
            title: 😊
          events:
            onClick:
              - id: resize
                type: SetState
                params:
                  feedback.score: smile
        - id: happy_anchor
          type: Anchor
          visible:
            _not:
              _state: feedback_sent
          layout:
            size: auto
          style:
            fontSize:
              _if:
                test:
                  _eq:
                    - _state: feedback.score
                    - happy
                then: 48
                else: 32
          properties:
            title: 😀
          events:
            onClick:
              - id: resize
                type: SetState
                params:
                  feedback.score: happy
        - id: feedback.email
          type: TextInput
          visible:
            _and:
              - _if_none:
                  - _state: feedback.score
                  - false
              - _not:
                  _state: feedback_sent
          properties:
            title: Email
            placeholder: Your email address
        - id: feedback.text
          type: TextArea
          visible:
            _and:
              - _if_none:
                  - _state: feedback.score
                  - false
              - _not:
                  _state: feedback_sent
          properties:
            title: Feedback
            rows: 5
            placeholder:
              _if:
                test:
                  _or:
                    - _eq:
                        - _state: feedback.score
                        - happy
                    - _eq:
                        - _state: feedback.score
                        - smile
                then: What made you smile?
                else: How can we improve?
        - id: fb_box
          type: Box
          visible:
            _and:
              - _if_none:
                  - _state: feedback.score
                  - false
              - _not:
                  _state: feedback_sent
          layout:
            contentJustify: end
          blocks:
            - id: feedback.send
              type: Button
              requests:
                - id: lowdefy_api_feedback
                  type: AxiosHttp
                  connectionId: lowdefy_api_marketing
                  properties:
                    data:
                      text:
                        _state: feedback.text
                      score:
                        _state: feedback.score
                      email:
                        _state: feedback.email
                      source: docs
                      type: Docs feedback
                      page_id:
                        _var: pageId
                - id: discord_channel_feedback
                  type: AxiosHttp
                  connectionId: discord_channel
                  properties:
                    data:
                      content:
                        _nunjucks:
                          template: 'Docs feedback: {{ text }}'
                          on:
                            _state: feedback
              layout:
                size: auto
              properties:
                title: Send
                icon: AiOutlineSend
                color: '#1890ff'
              events:
                onClick:
                  - id: post_data
                    type: Request
                    params:
                      - lowdefy_api_feedback
                      - discord_channel_feedback
                  - id: set_feedback
                    type: SetState
                    params:
                      feedback_sent: true
        - id: feedback_sent_thank_you
          type: Alert
          visible:
            _not:
              _not:
                _state: feedback_sent
          properties:
            message: Thank you! You feedback help us make things better ✨
            type: success
{% if filePath %}
- id: edit_on_gh_box
  type: Box
  style:
    lg:
      paddingRight: 40
  layout:
    contentJustify: end
  blocks:
    - id: edit_on_github
      type: Anchor
      layout:
        size: auto
      properties:
        title: Edit this page on Github
        url: https://github.com/lowdefy/lowdefy/blob/main/packages/docs/{{ filePath }}
        newTab: true
{% endif %}

{% endif %}

- id: footer_divider
  type: Divider
- id: footer_box
  type: Box
  layout:
    contentGutter: 46
  style:
    paddingLeft: 23px
  blocks:
    - id: footer_logo_box
      type: Box
      visible:
        _not:
          _or:
            - _eq:
                - _media: size
                - sm
            - _eq:
                - _media: size
                - xs
      layout:
        span: 6
      blocks:
        - id: footer_logo
          type: Html
          properties:
            html: |
              <p><a href="https://lowdefy.com"><img src="/logo-light-theme.png" width="126px" /></a></p>
              <p style="font-size: 0.85rem;" >Build internal tools with YAML.</p>
              <p><a href="mailto:hello@lowdefy.com">hello@lowdefy.com</a></p>
        - id: community_links
          type: Box
          layout:
            contentJustify: space-around
            size: 200
          blocks:
            - id: lowdefy_twitter
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineTwitter
                size: 24
              events:
                onClick:
                  - id: link_twitter
                    type: Link
                    params:
                      url: https://twitter.com/lowdefy
            - id: lowdefy_community
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineComment
                size: 24
              events:
                onClick:
                  - id: link_community
                    type: Link
                    params:
                      url: https://github.com/lowdefy/lowdefy/discussions

            - id: lowdefy_discord
              type: Box
              style:
                width: 24
                height: 24
              layout:
                size: auto
              blocks:
                - id: discord_icon
                  type: Html
                  properties:
                    html: |
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px" viewBox="0 0 48 48" version="1.1">
                      <g id="surface113672">
                      <path style=" stroke:none;fill-rule:nonzero;fill:rgba(0, 0, 0, 0.65);fill-opacity:1;" d="M 42 45 L 33 38 L 34 41 L 10 41 C 7.238281 41 5 38.761719 5 36 L 5 10 C 5 7.238281 7.238281 5 10 5 L 37 5 C 39.761719 5 42 7.238281 42 10 Z M 42 45 "/>
                      <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 32.589844 16.238281 C 32.589844 16.238281 29.988281 14.230469 26.910156 14 L 26.640625 14.550781 C 29.421875 15.21875 30.691406 16.191406 32.019531 17.378906 C 29.730469 16.210938 27.460938 15 23.5 15 C 19.539062 15 17.269531 16.210938 14.980469 17.378906 C 16.308594 16.191406 17.828125 15.109375 20.359375 14.550781 L 20.089844 14 C 16.859375 14.308594 14.410156 16.238281 14.410156 16.238281 C 14.410156 16.238281 11.5 20.429688 11 28.621094 C 13.941406 31.980469 18.390625 32 18.390625 32 L 19.308594 30.769531 C 17.738281 30.230469 15.949219 29.261719 14.410156 27.5 C 16.25 28.878906 19.019531 30 23.5 30 C 27.980469 30 30.75 28.878906 32.589844 27.5 C 31.050781 29.261719 29.261719 30.230469 27.691406 30.769531 L 28.609375 32 C 28.609375 32 33.058594 31.980469 36 28.621094 C 35.5 20.429688 32.589844 16.238281 32.589844 16.238281 Z M 20 27 C 18.898438 27 18 25.878906 18 24.5 C 18 23.121094 18.898438 22 20 22 C 21.101562 22 22 23.121094 22 24.5 C 22 25.878906 21.101562 27 20 27 Z M 27 27 C 25.898438 27 25 25.878906 25 24.5 C 25 23.121094 25.898438 22 27 22 C 28.101562 22 29 23.121094 29 24.5 C 29 25.878906 28.101562 27 27 27 Z M 27 27 "/>
                      </g>
                      </svg>
              events:
                onClick:
                  - id: link_discord
                    type: Link
                    params:
                      url: https://discord.gg/WmcJgXt
            - id: lowdefy_github
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineGithub
                size: 24
              events:
                onClick:
                  - id: link_github
                    type: Link
                    params:
                      url: https://github.com/lowdefy/lowdefy
            - id: lowdefy_youtube
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineYoutube
                size: 24
              events:
                onClick:
                  - id: link_youtube
                    type: Link
                    params:
                      url: https://www.youtube.com/channel/UCQLUr15MfP_9yGSO5dmf9wg
    - id: footer_cta_box
      type: Box
      layout:
        span: 12
        align: middle
      blocks:
        - id: footer_cta
          type: Title
          visible:
            _not:
              _global: newsletter_subscribed
          style:
            textAlign: center
          properties:
            content: Subscribe to our newsletter
            level: 3
            color: '#1890ff'
        - id: footer_cta_paragraph
          type: Paragraph
          visible:
            _not:
              _global: newsletter_subscribed
          style:
            textAlign: center
          properties:
            content: Receive the latest Lowdefy updates in your inbox.
        - id: footer_cta_box
          type: Box
          layout:
            contentGutter: [12, 0]
            contentJustify: center
          blocks:
            - id: footer_cta_input
              type: TextInput
              visible:
                _not:
                  _global: newsletter_subscribed
              layout:
                flex: 0 1 250px
              properties:
                size: large
                placeholder: Enter your email
                label:
                  disabled: true
            - id: footer_cta_button
              type: Button
              visible:
                _not:
                  _global: newsletter_subscribed
              requests:
                - id: lowdefy_api_subscribe
                  type: AxiosHttp
                  connectionId: lowdefy_api_marketing
                  properties:
                    data:
                      type: Newsletter subscription
                      email:
                        _state: footer_cta_input
                      source: docs
                      page_id:
                        _var: pageId
                - id: discord_channel_subscribe
                  type: AxiosHttp
                  connectionId: discord_channel
                  properties:
                    data:
                      content: 'New newsletter subscription from docs'
              layout:
                flex: 0 1 auto
              properties:
                title: Subscribe
                color: '#1890ff'
                size: large
              events:
                onClick:
                  - id: post_data
                    type: Request
                    params:
                      - lowdefy_api_subscribe
                      - discord_channel_subscribe
                  - id: set_subscribed
                    type: SetGlobal
                    params:
                      newsletter_subscribed: true
            - id: subscribed_thank_you
              type: Alert
              layout:
                flex: 0 1 350px
              visible:
                _not:
                  _not:
                    _global: newsletter_subscribed
              properties:
                message: Thanks! 👏  We'll keep you updated with the latest Lowdefy news.
                type: success
    - id: footer_links
      type: Box
      layout:
        span: 6
        contentGutter: 8
      blocks:
        - id: why_anchor
          type: Anchor
          properties:
            title: Why Lowdefy
            url: https://lowdefy.com
            rel: 'noopener'
        - id: tutorial_anchor
          type: Anchor
          properties:
            title: Quick Start Tutorial
            pageId: tutorial-development-server
            rel: 'noopener'
        - id: netlify_anchor
          type: Anchor
          properties:
            title: Deploy to Netlify
            pageId: tutorial-start
            rel: 'noopener'
        - id: concepts_anchor
          type: Anchor
          properties:
            title: How Lowdefy Works
            pageId: overview
            rel: 'noopener'
        - id: github_anchor
          type: Anchor
          properties:
            title: Github Repository
            url: https://github.com/lowdefy/lowdefy
            newTab: true
        - id: changelog_anchor
          type: Anchor
          properties:
            title: Version Changelog
            url: https://github.com/lowdefy/lowdefy/blob/main/CHANGELOG.md
            newTab: true
        - id: license_anchor
          type: Anchor
          properties:
            title: Apache-2.0 License
            url: https://github.com/lowdefy/lowdefy/blob/main/LICENSE
            newTab: true
    - id: footer_logo_box_sm
      type: Box
      visible:
        _or:
          - _eq:
              - _media: size
              - sm
          - _eq:
              - _media: size
              - xs
      layout:
        contentJustify: center
      blocks:
        - id: footer_logo
          type: Html
          properties:
            html: |
              <p style="text-align: center;"><a href="https://lowdefy.com" ref="noopener"><img src="/logo-light-theme.png" width="126px" /></a></p>
              <p style="text-align: center; font-size: 0.85rem;" >Build internal tools with YAML.</p>
              <p style="text-align: center;"><a href="mailto:hello@lowdefy.com">hello@lowdefy.com</a></p>
        - id: community_links
          type: Box
          layout:
            contentJustify: space-around
            size: 200
          blocks:
            - id: lowdefy_twitter
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineTwitter
                size: 24
              events:
                onClick:
                  - id: link_twitter
                    type: Link
                    params:
                      url: https://twitter.com/lowdefy
                      newTab: true
            - id: lowdefy_community
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineComment
                size: 24
              events:
                onClick:
                  - id: link_community
                    type: Link
                    params:
                      url: https://github.com/lowdefy/lowdefy/discussions
                      newTab: true
            - id: lowdefy_github
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineGithub
                size: 24
              events:
                onClick:
                  - id: link_github
                    type: Link
                    params:
                      url: https://github.com/lowdefy/lowdefy
                      newTab: true
            - id: lowdefy_youtube
              type: Icon
              layout:
                size: auto
              properties:
                name: AiOutlineYoutube
                size: 24
              events:
                onClick:
                  - id: link_youtube
                    type: Link
                    params:
                      url: https://www.youtube.com/channel/UCQLUr15MfP_9yGSO5dmf9wg
                      newTab: true
    - id: lowdefy_cc_box
      type: Box
      blocks:
        - id: lowdefy_cc
          type: Html
          properties:
            html: |
              <div style="text-align: center; font-size: 12px; margin-top: 42px;">© 2021 Lowdefy, Inc. - Give. Easy. Value.</div>
