# Copyright 2020-2021 Lowdefy, Inc

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

id: "{{ pageId }}"
type: PageSiderMenu
requests:
  - id: post_telemetry
    type: AxiosHttp
    connectionId: lowdefy_api_telemetry
    properties:
      data:
        session_id:
          _global: session_id
        page_id:
          _var: pageId
        url_query:
          _url_query: true
        input:
          _input: true

events:
  onInit:
    - id: set_session_id
      type: SetGlobal
      skip:
        _not:
          _eq:
            - _global: session_id
            - null
      params:
        session_id:
          _random:
            type: string
            length: 16
  onEnterAsync:
    {# - id: connect_docsearch
      type: JsAction # TODO:
      params:
        name: connectDocsearch #}
    - id: post_telemetry
      type: Request
      messages:
        error: false
      params: post_telemetry

properties:
  title: {{ pageTitle }}
  header:
    theme: light
  menu:
    forceSubMenuRender: true
  sider:
    width: 256px
    initialCollapsed:
      _or:
        - _eq:
            - _media: size
            - md
        - _eq:
            - _media: size
            - lg
  layout:
    style:
      background: '#FFFFFF'
  footer:
    style:
      background: '#FFFFFF'
      padding: 16px 0px 0px 0px
  breadcrumb:
    list:
      - _ref: version.yaml
  {% if section %}
      - {{ section }}
      - {{ pageTitle }}
  {% endif %}

areas:
  header:
    blocks:
      _ref: templates/header.yaml
  footer:
    blocks:
      _ref:
        path: templates/footer.yaml.njk
        vars:
          hideFeedback:
            _var: hideFeedback
          filePath:
            _var: filePath
          pageId:
            _var: pageId

  content:
    justify: center
    blocks:
      - id: max_width
        type: Box
        layout:
          flex: 0 1 800px
        blocks:
          {% if pageTitle %}
          - id: page_title
            type: Title
            properties:
              content:
                _var: pageTitle
          {% endif %}
          - id: content
            type: Box
            layout:
              contentGutter: 16
            blocks:
              _var: content
