/*
  Copyright 2020-2021 Lowdefy, Inc

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/

@import '@lowdefy/blocks-antd/blocks/Label/style.less';
@import '@lowdefy/blocks-antd/blocks/TextInput/style.less';

.color-picker {
  position: relative;
  display: flex;
}

.color-picker-swatch {
  flex: 0 0 auto;
  width: 34px;
  height: 34px;
  border-radius: 2px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.color-picker-swatch-disabled {
  cursor: disabled;
}

.color-picker-swatch-sm {
  width: 24px;
  height: 24px;
}

.color-picker-swatch-lg {
  width: 40px;
  height: 40px;
}

.small .react-colorful {
  width: 120px;
  height: 120px;
}

.color-picker-popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.color-picker-input {
  margin-left: 8px;
}

.color-picker-input-sm {
  margin-left: 0px;
}

.color-picker-input-lg {
  margin-left: 12px;
}
